
<header>
  <div class="nav-wrapper">
    <div class="logo">
      <a href="#">STILSHADE</a>
    </div>
    <nav>
      <div class="nav-container">
        <div class="nav-item">shade
          <div class="menu">
            <a class="list" href="#">item1
              <div class="content default">test1</div>
            </a>
            <a class="list" href="#">item2
              <div class="content">test2</div>
            </a>
            <a class="list" href="#">item3
              <div class="content">test3</div>
            </a>
            <a class="list" href="#">item4
              <div class="content">test4</div>
            </a>
            <a class="list" href="#">item5
              <div class="content">test5</div>
            </a>
          </div>
          <div class="nav-bg"></div>
        </div>
        <div class="nav-item">Blind
          <div class="menu blind">
            <a class="list" href="#">bitem1
              <div class="content default">btest1</div>
            </a>
            <a class="list" href="#">bitem2
              <div class="content">btest2</div>
            </a>
            <a class="list" href="#">bitem3
              <div class="content">btest3</div>
            </a>
            <a class="list" href="#">bitem4
              <div class="content">btest4</div>
            </a>
            <a class="list" href="#">bitem5
              <div class="content">btest5</div>
            </a>
          </div>
          <div class="nav-bg"></div>
        </div>
        <div class="nav-item">drapery
          <div class="menu drapery">
            <a class="list" href="#">ditem1
              <div class="content default">dtest1</div>
            </a>
            <a class="list" href="#">ditem2
              <div class="content">test2</div>
            </a>
            <a class="list" href="#">ditem3
              <div class="content">dtest3</div>
            </a>
            <a class="list" href="#">ditem4
              <div class="content">dtest4</div>
            </a>
            <a class="list" href="#">ditem5
              <div class="content">dtest5</div>
            </a>
          </div>
          <div class="nav-bg"></div>
        </div>
      </div>

    </nav>
  </div>
</header>
