
<header>
  <div class="main-nav">
    <div class="logo">
    <a href="index.html">
      <!-- <h4>Stilshade</h4> -->
      <img src="..\assets\Images\favicon.ico" alt="StilShade">
    </a>
    </div>
    <div class="nav-bar">
      <div class="menu-item">
        <a href="#">Shades</a>
        <div class="megamenu-content">
            <div class="Shades">
              <h5>Roller Shades</h5>
              <img class="pic" src="assets\images\home-hero.jpg" alt="Roller Shades">
              <div class="txt">A simple and elegant way to cover your windows. Both practical and stylish, roller shades are available in 400+ exclusive eco-friendly materials.
              Ships in 7 days or less!
              </div>
            </div>
            <div class="Shades">
              <h5>Solar Shades</h5>

              <div class="pic">
              </div>
              <div class="txt">
              </div>
            </div>
            <div class="Shades">
              <h5>Roman Shades</h5>
              <div class="vl">
              </div>
              <div class="pic">
              </div>
              <div class="txt">
              </div>
            </div>
            <div class="Shades">
              <h5>Woven Wood Shades</h5>
              <div class="vl">
              </div>
              <div class="pic">
              </div>
              <div class="txt">
              </div>
            </div>
            <div class="Shades">
              <h5>Cellular Shades</h5>
              <div class="vl">
              </div>
              <div class="pic">
              </div>
              <div class="txt">
              </div>
            </div>
            <div class="Shades">
              <h5>Pleated Shades</h5>
              <div class="vl">
              </div>
              <div class="pic">
              </div>
              <div class="txt">
              </div>
            </div>
            <div class="Shades">
              <h5>View All Window Treatments</h5>
              <div class="vl">
              </div>
              <div class="pic">
              </div>
              <div class="txt">
              </div>
            </div>
          </div>
      </div>
      <div class="menu-item">
        <a href="#">Blinds</a>
        <div class="megamenu-content">
            <div class="Shades">
              <h5>test blind</h5>
              <img class="pic" src="assets\images\home-hero.jpg" alt="Roller Shades">
              <div class="txt">A simple and elegant way to cover your windows. Both practical and stylish, roller shades are available in 400+ exclusive eco-friendly materials.
              Ships in 7 days or less!
              </div>
            </div>
            <div class="Shades">
              <h5>Solar Shades</h5>

              <div class="pic">
              </div>
              <div class="txt">
              </div>
            </div>
            <div class="Shades">
              <h5>Roman Shades</h5>
              <div class="vl">
              </div>
              <div class="pic">
              </div>
              <div class="txt">
              </div>
            </div>
            <div class="Shades">
              <h5>Woven Wood Shades</h5>
              <div class="vl">
              </div>
              <div class="pic">
              </div>
              <div class="txt">
              </div>
            </div>
            <div class="Shades">
              <h5>Cellular Shades</h5>
              <div class="vl">
              </div>
              <div class="pic">
              </div>
              <div class="txt">
              </div>
            </div>
            <div class="Shades">
              <h5>Pleated Shades</h5>
              <div class="vl">
              </div>
              <div class="pic">
              </div>
              <div class="txt">
              </div>
            </div>
            <div class="Shades">
              <h5>View All Window Treatments</h5>
              <div class="vl">
              </div>
              <div class="pic">
              </div>
              <div class="txt">
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</header>
