
<header>
  <div class="main-nav">
    <div class="logo">
    <a href="index.html">
      <img src="Image\favicon.ico" alt="StilShade">
    </a>
    </div>
    <div class="nav-bar">
      <div class="dropdown">
        <button class="dropbtn">Shades
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <div class="row">
            <div class="Roller-Shades">
              <h5>Roller Shades</h5>
              <div class="pic">
              </div>
              <div class="txt">
              </div>
            </div>
            <div class="column">
              <h5>Solar Shades</h5>
            </div>
            <div class="column">
              <h5>Roman Shades</h5>
            </div>
            <div class="column">
              <h5>Woven Wood Shades</h5>
            </div>
            <div class="column">
              <h5>Cellular Shades</h5>
            </div>
            <div class="column">
              <h5>Pleated Shades</h5>
            </div>
            <div class="column">
              <h5>View All Window Treatments</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
