//home-page
.home-hero
  display: flex
  height: 600px
  background-color: #cccccc
  background-image: url(../images/home-hero.jpg)
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed
  div
    margin: auto
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    top: 64px

    p
      color: white
      text-align: center
      font-style: italic
      margin: auto
      font-size: 24px
      font-family: serif
      span
        color: white
        display: block
        text-align: center
        font-size: 48px
        font-style: normal
        font-family: serif
        font-weight: bold

    button
      background-color: white
      margin: 24px auto
      padding: 10px 20px
      cursor: pointer
      border: 1px solid white
      text-align: center
    button:hover
      background-color: rgba(221, 221, 221, 0.3)
      color: black
hr
  margin: 24px 13%
.explore
  display: flex
  flex-direction: row
  margin: 32px 13%
  text-align: center
  font-family: serif
  font-size: 24px
  .materials
    border-right: 1px solid lightgray
    border-left: 1px solid lightgray
  div
    p
      padding: 8px 24px
      font-size: 14px
      font-family: sans-serif
      font-weight: 0
    a
      font-weight: bold
      font-size: 16px
      font-family: sans-serif
      text-transform: uppercase
.photo-gallery
  display: flex
  background-image: url(../images/LP_PhotoGallery2019.jpg)
  background-color: pink
  margin: 0 13%
  height: 400px
  justify-content: flex-end
  .photo-gallery-txt
    background-color: rgba(0, 0, 0, 0.5)
    color: white
    width: 30%
    text-align: center
    padding-top: 80px
    h4
      font-family: serif
      font-size: 24px
    p
      font-size: 16px
.exclusive
  text-align: center
  margin: 24px 13%
  font-family: serif
  font-size: 24px
  p
    font-size: 14px
    font-family: sans-serif
    font-weight: 200
  .partner-img
    display: flex
    flex-direction: row
    justify-content: space-around
    a
      display: flex
      justify-content: space-around
      img
        max-width: 200px

@media screen and (max-width: 900px)
  .explore
    flex-direction: column
    .materials
      border-top: 1px solid lightgray
      border-bottom: 1px solid lightgray
      border-right: none
      border-left: none
  .exclusive
    .partner-img
      flex-direction: column
  .photo-gallery
    .photo-gallery-txt
      width: 50%


//products
.navadd
  position: absolute
  margin-top: 16px
  margin-left: 108px
  font-size: 12px
  font-weight: lighter
.titletxt
  h2, h4
    font-family: serif
    text-align: center
    text-transform: uppercase
.products
  section
    display: flex
    flex-direction: row
    padding: 30px 164px
    .productimg
      min-width: 400px
      max-height: 500px
      background-color: gray
      object-fit: cover
    .productdtl
      margin: 10px 64px
      p
        font-size: 14px
      h6
        font-size: 14px
        font-weight: lighter
        margin-bottom: 0
      ul
        padding-left: 20px
        list-style-type: disc
        li
          font-size: 14px
      button
        margin: 0px 0px
        padding: 12px 65px
        background-color: rgba(0, 0, 0, 0.9)
        border: 0
        color: white
      button:hover
        background-color: rgba(0, 0, 0, 0.6)
        cursor: pointer
.products section:nth-child(even)
  background-color: #eee

@media screen and (max-width: 900px)
  .navadd
    margin-left: 40px
  .titletxt
    h2
      font-size: 30px
      margin-top: 48px
  .products
    section
      flex-direction: column
      justify-content: center
      align-items: center
      padding: 32px 0
      margin: auto
    .productimg
      height: 300px

      &:nth-child(even)
        order: -1
    .productdtl
      text-align: center
      width: 340px
      ul
        li
          list-style-type: none
