//home-page
.home-hero
  width: 100%
  top: 64px
  background-color: #cccccc
  background-image: url(../images/home-hero.jpg)
  height: 800px
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed
  p
    color: white
    text-align: center
    padding-top: 15%
    font-style: italic
    font-size: 1.7em
    font-family: serif
  span
    color: white
    text-align: center
    display: block
    font-size: 2.7em
    font-style: none
    font-family: serif
    font-weight: bold
  button
    background-color: white
    margin: 0 45%
    padding: 10px 20px
    cursor: pointer
    border: 1px solid white
    text-align: center
  button:hover
    background-color: rgba(221, 221, 221, 0.3)
    color: black

//shades
.navadd
  margin-top: 16px
  margin-left: 108px
  font-size: 12px
  font-weight: lighter
.titletxt
  h2, h4
    font-family: serif
    text-align: center
    text-transform: uppercase
.shades
  display: flex
  flex-direction: row
  padding: 30px 164px
  .productimg
    height: 435px
    width: 2000px
    background-color: gray
  .productdtl
    margin: 10px 64px
    p
      font-size: 14px
    h6
      font-size: 14px
      font-weight: lighter
      margin-bottom: 0
    ul
      padding-left: 20px
      list-style-type: disc
      li
        font-size: 14px
    button
      margin: 0px 0px
      padding: 12px 65px
      background-color: rgba(0, 0, 0, 0.9)
      border: 0
      color: white
    button:hover
      background-color: rgba(0, 0, 0, 0.6)
      cursor: pointer

.shades:nth-child(even)
  background-color: #eee
