//home-page
.home-hero
  // position: absolute
  width: 100%
  margin-top: 72px
  background-color: #cccccc
  background-image: url(../images/home-hero.jpg)
  height: 600px
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed
.hero-txt
  color: white
  text-align: center
  padding-top: 15%
.finest
  font-style: italic
  font-size: 150%
.treatments
  display: block
  font-size: 200%
  font-style: none
  font-family: serif
  font-weight: bold
.Discover
  background-color: white
  margin: 0% 45% 0 45%
  padding: 10px
  cursor: pointer
  border: 1px solid white
  text-align: center
.Discover:hover
  background-color: rgba(221, 221, 221, 0.7)
